@{
    ViewData["Title"] = "About";
}

<section class="jumbotron text-center">
    <div class="container">
        <p class="lead-text text-muted">This application is for gaining visibility into what target frameworks are supported for any given Progress Software NuGet package.</p>
    </div>
</section>