@{
    ViewData["Title"] = "Contact";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">@ViewBag.Title</h1>
        <address>
            15 Wayside Rd, Suite 400<br/>
            Burlington, MA 01803<br/>
            United States<br/>
            <abbr title="Phone">P:</abbr>
            +1-800-477-6473
        </address>

        <address>
            <strong>Support:</strong> <a href="https://prgress.co/DevToolsSupport">Open a Support Ticket</a><br />
        </address>
    </div>
</section>

