@{
    ViewData["Title"] = "Home Page";
}

@(Html.Kendo().Grid <PackageVisualizer.Web.Models.ItemViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.ProductName);
    })
    .Sortable()
    .Scrollable()
    .Filterable()
    .HtmlAttributes(new { style = "height: 600px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("Dependencies_Read", "Grid"))
    )
    .ClientDetailTemplateId("template")
    )

<script id="template" type="text/kendo-tmpl">
<tr>
    <td></td>
    <td>
        # for (var i = 0; i < data.Versions.length; i++) { #
            <span class="framework-table-margin #= data.Versions[i].IsAvailable == true ? 'framework-badge-asset' : 'framework-badge-computed' #">
                #= data.Versions[i].Name #
            </span>
        # } #
    </td>
</tr>
</script>

<style type="text/css">
    .framework-badge-computed {
        padding: 1px 8px;
        border-radius: 2px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: inline-block;
        border: 1px solid #0078d4;
        background: rgba(0,120,212,.1);
        margin: 0 8px 8px 0;
    }
    .framework-badge-asset {
        padding: 1px 8px;
        border-radius: 2px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: inline-block;
        border: 1px solid #0078d4;
        background: #0078d4;
        color: #fff;
        margin: 0 8px 8px 0;
    }
</style>
